.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/sushi1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 825px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: -3px;
  background-image: none;
  margin: 235px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 155px;
  height: 155px;
  margin: 51px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 521px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 246px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 49px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 419px;
  animation-duration: 1000ms;
}

.u-section-2 .u-image-1 {
  background-image: url("images/IMG_8702.JPG");
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 419px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 419px;
  animation-duration: 1000ms;
}

.u-section-2 .u-image-2 {
  background-image: url("images/IMG_8686.JPG");
  background-position: 36.1% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 429px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 345px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-2 .u-layout-cell-3 {
    background-position: 36.1% 50%;
    min-height: 345px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 329px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 264px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 264px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1480px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1480px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 594px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 594px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 932px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 374px;
  }
}